<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="//connect.soundcloud.com/sdk.js"></script>
<script>
  SC.initialize({
    client_id: "29a23004556336f69f9cd958f9b3af97",
    redirect_uri: "http://localhost:3000/soundcloud-callback.html"
  });

  $("#recorderUI.reset #controlButton").live("click", function(e){
    updateTimer(0);
    SC.record({
      start: function(){
        setRecorderUIState("recording");
      },
      progress: function(ms, avgPeak){
        updateTimer(ms);
      }
    });
    e.preventDefault();
  });

  $("#recorderUI.recording #controlButton, #recorderUI.playing #controlButton").live("click", function(e){
    setRecorderUIState("recorded");
    SC.recordStop();
    e.preventDefault();
  });

  $("#recorderUI.recorded #controlButton").live("click", function(e){
    updateTimer(0);
    setRecorderUIState("playing");
    SC.recordPlay({
      progress: function(ms){
        updateTimer(ms);
      },
      finished: function(){
        setRecorderUIState("recorded");
      }
    });
    e.preventDefault();
  });

  $("#reset").live("click", function(e){
    SC.recordStop();
    setRecorderUIState("reset");
    e.preventDefault();
  });

  $("#upload").live("click", function(e){
    setRecorderUIState("uploading");

    var upload = function(){
      $("#uploadStatus").html("Uploading...");
      SC.recordUpload({
        track: {
          title: "something",
          sharing: "public"
        }
      }, function(track){
      //document.getElementsByName('commit')[0].disabled = false;
      $("#uploadStatus").html("Uploaded: <a href='" + track.permalink_url + "'>" + track.permalink_url + "</a>");
      });
    }

    if (SC.isConnected()) {
      alert ("is connected");
      upload();
    } else {
      alert ("not connected");
      upload();
    }

    e.preventDefault();
  });

  function updateTimer(ms){
    $("#timer").text(SC.Helper.millisecondsToHMS(ms));
  }

  function setRecorderUIState(state){
    // state can be reset, recording, recorded, playing, uploading
    // visibility of buttons is managed via CSS
    $("#recorderUI").attr("class", state);
  }
</script>

<div id="recorderUI" class="reset">
  <a href="#" id="controlButton" class="btn btn-large">
    Record:
    <span id="timer">0:00</span>
  </a>

  <br/><br/>

  <div id="otherControls">
    <a href="#" id="reset" class="btn btn-large">Reset</a>
    <a href="#" id="upload" class="btn btn-large btn-primary">Upload</a>
  </div>

  <br/><br/>

  <div id="uploadStatus">Upload status ...</div>
</div>
