<h1><%= @username %>'s Tracks</h1>

<% @user_tracks.each do |track| %>
  <p><%= track.title %></p>
  <% embed_info = @client.get('/oembed', :url => track.uri) %>
  <%= embed_info['html'].html_safe %>
<% end %>
