
<%= will_paginate @ekkos, renderer: BootstrapPagination::Rails %>

<% @ekkos.each do |ekko| %>
  <p>
    <% embed_info = @client.get('/oembed',
                                url: ekko.uri,
                                maxheight: 130,
                                maxwidth: 500) %>
    <%= embed_info['html'].html_safe %>
  </p>
<% end %>
